[submodule "vim/bundle/Vundle.vim"]
	path = vim/bundle/Vundle.vim
	url = git@github.com:VundleVim/Vundle.vim.git
[submodule "dotbot"]
	path = dotbot
	url = git@github.com:anishathalye/dotbot.git
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = git@github.com:tmux-plugins/tpm
[submodule "zsh/history-search-multi-word"]
	path = zsh/history-search-multi-word
	url = git@github.com:zdharma/history-search-multi-word.git
[submodule "zsh/zsh-autosuggestions"]
	path = zsh/zsh-autosuggestions
	url = git@github.com:zsh-users/zsh-autosuggestions.git
[submodule "zsh/zsh-syntax-highlighting"]
	path = zsh/zsh-syntax-highlighting
	url = git@github.com:zsh-users/zsh-syntax-highlighting.git
[submodule "zsh/H-S-MW"]
	path = zsh/H-S-MW
	url = git@github.com:z-shell/H-S-MW.git
